###############################################################################
# Family & Device:    iCE40HX1K
# Package:            TQ144
###############################################################################

set_io clk 21

set_io led 95
